.music-list {
  &__title {
   background: #377F37;
   padding: 15px;
   color: white;
   font-weight: 500;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.song {
  flex-basis: 100%;
  padding: 10px 15px;
  background: #d9f2d9;
  color: #CB854E;
  position: relative;
  display: block;

  &:hover {
    color: #9e5f2e;
    text-decoration: none;
  }

  &:not(:last-child):after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    width: calc(100% - 30px);
    height: 1px;
    background: #66cc66;
  }
}