<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>player/item</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="player-item">
          <div class="player-item__play-pause">
            <i class="fa fa-play"></i>
          </div>

          <div class="player-item__time-bar">
          </div>

          <div class="player-item__repeat-button">
            <i class="fa fa-repeat"></i>
          </div>

          <div class="player-item__volume-button">
            <i class="fa fa-volume-up"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>